@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="user/login">Login</a>.</p>
    <p><a href="user/Register">Registern</a>.</p>
</div>
